body{


    text-align: center;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    padding: 40px;


}
* {
    box-sizing: border-box;
  }

#contenedor{
    padding: 10px;
    width: 500px;
    height: 450px;
    border: 2px solid black;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
#pie{
    height: 10%;
    text-align: center;
    padding: 1px;
    margin: 1.5em;
    display: inline-block;

}
#Seccion2{
    padding: 15px;
    height: 50%;
    width: 50%;
    float: right;
    text-align: center;



    
}
#seccion1{
    padding: 15px;
    height: 50%;
    width: 50%;
    display: flex;
    float: left;
    text-align: center;
  
}
* {
    padding: 0 auto;
    margin: 0 auto;
  }

  #cabecera{

    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    
    border: 2px solid black;
 
}
